<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
        <compilation debug="false" targetFramework="4.0" />
        <httpRuntime executionTimeout="3600" maxRequestLength="2147483648" appRequestQueueLimit="100" requestValidationMode="2.0" requestLengthDiskThreshold="10024000" />
</system.web>
    <system.webServer>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="2147483648" /> <!--214MB-->
                </requestFiltering>
            </security>
        <handlers>
            <add name="iisnode" path="nodeserver/init.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>

                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*).(jpg|png|gif|jpeg|mp3|mp4|avi|mkv)" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/404.php" redirectType="Permanent" />
                </rule>


                 <rule name="Giao tiep co ban">
                    <match url="^giao-tiep-co-ban.html" />
                    <action type="Rewrite" url="/gtcb.php" />
                </rule>
                <rule name="Giao tiep co ban chi tiet">
                    <match url="^giao-tiep-co-ban/(.*)-([0-9]+).html" />
                    <action type="Rewrite" url="/gtcb.php?id={R:2}" />
                </rule>
                <rule name="Luyen ngu am">
                    <match url="^luyen-ngu-am.html" />
                    <action type="Rewrite" url="/luyennguam.php" />
                </rule>
                <rule name="Luyen ngu am chi tiet">
                     <match url="^luyen-ngu-am/(.*)-([0-9]+).html" />
                    <action type="Rewrite" url="/luyennguam.php?id={R:2}" />
                </rule>
                <rule name="Thuvien">
                    <match url="^thu-vien/(.*)-([0-9]+).html" />
                    <action type="Rewrite" url="/thuvien.php?id={R:2}" />
                </rule>

                <rule name="Bai hat tieng anh">
                    <match url="^bai-hat.html" />
                    <action type="Rewrite" url="/hmcaudio.php" />
                </rule>
                 <rule name="Bai hat tieng anh chi tiet">
                    <match url="^bai-hat/(.*)-([0-9]+).html" />
                    <action type="Rewrite" url="/hmcaudio.php?id={R:2}" />
                </rule>
                <rule name="Disable email">
                    <match url="^disable-email.html" />
                    <action type="Rewrite" url="/disable-email.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>

            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".srt" mimeType="text/srt" />
        </staticContent>
    </system.webServer>
</configuration>