<div class="main">
    <div class="content_cate p5">
        <div class="item_cate">
            <div class="title_cate">
                <a href=""><i class="icon-hangngay"></i>{$obj.name}</a>
                {if condition="count($listcat) > 0"}
                <span class="btn_more_cate"><label></label><label></label><label></label></span>
                <div class="content_more_cate" style="display: none">
                    <div class="content_more_cate_box">
                        <span class="square_dot"></span>
                        <div class="list_more_cate">
                            {loop="listcat"}
                            {$link=makelink::makecat($value._id,$value.type,$value.namenoneutf)}
                            <a class="active" href="{$link}">{$value.name}</a>
                            {/loop}
                        </div>
                    </div>
                </div>
                {/if}
            </div>
            <div class="swiper-container slide">
                <div class="swiper-wrapper">
                    {loop="dataSlide"}
                    {$link=makelink::makenews($value._id,$value.name)}
                    <div class="swiper-slide">
                        <a href="{$value.url}">
                            <img src="{$value.avatar}#" alt="{$value.name}"/>
                            <span class="caption">
                                <span class="title_s">{$value.name}</span>
                            </span>
                        </a>
                    </div>
                    {/loop}
                </div>
                <div class="pagination"></div>
            </div>
            <div class="content_items">
                <ul class="list_1">
                    {loop="listarticle"}
                    {$link=makelink::makethuvien($obj._id,$value._id,$value.name)}
                    <li> <a href="{$link}"> <span class="thumb_img"><img src="{$value.avatar}" alt=""></span> <span class="title_list">{$value.name}</span> <span class="caption_view">{$value.datecreate}</span> </a> </li>
                    {/loop}
                </ul>
            </div>
            {include="component/paging"}
            <div class="clearfix"></div>
        </div>
    </div>
</div>