        <div class="main hoidap">
               <div class="p5">
                   <div class="breadcrumb">
                       <div class="title_br">Đăng câu hỏi</div>
                   </div>
               </div>
               <div class="content_cate p5">
               		<div class="item_cate fleft w100">
                    	<div class="content_item hoidap_post">
                            <form action="" method="post">
                          	<div class="post">
                            	<!--<div>
                                    <span class="orange bold">Tiêu đề:</span>
                                    <input type="text" placeholder="" name="name">
                                </div>-->
                                <div>
                                    <span class="bold orange">Nội dung câu hỏi:</span>
                                    <textarea name="name"></textarea>
                                </div>
                            </div>
                            <div class="info_search">
                                <button class="ht" value="submit">Đăng câu hỏi</button>
                            </div>
                            </form>
                            <div class="dieukhoan">
                            	<span>. Trước khi đăng câu hỏi, vui lòng sử dụng thanh tìm kiếm để tránh trùng lặp</span>

								<span>. Câu hỏi của bạn sẽ được kiểm duyệt trước khi đăng lên Góc Hỏi/Đáp</span>
                                <span> Bằng việc đăng câu hỏi, bạn đã chấp nhận các Điều khoản và Điều kiện của TAGT</span>
                            </div>
                        </div>
                    </div>
               </div>
        </div>
