<audio style="width: 0;height: 0;" id="mainaudio" controls></audio>
<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">{$obj.name}</div>
            <div class="face">
                {$facebooklink=makelink::makenews($obj._id,$obj.name)}
                <div class="fb-like" data-href="{$facebooklink}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
    </div>
    <div class="content_cate p5">
        <div class="item_cate">
            <div class="content_luyennghe">
                {if condition="$c>0"}
                <div class="video mgt0">
                    <video width="100%" controls src="{$obj.medialink}" type="video/mp4"></video>
                </div>
                <div class="center btn_view">
                    <button class="blue" id="show">Xem bài dịch</button>
                    <div class="show_goiy" style="display:none;">
                        {$obj.sublink}
                    </div>
                </div>
                {/if}
                <div class="content_dientu">
                    <div class="baidich" style="display:none;">
                        <div class="title_item_small"><i class="icon_small"></i><span class="orange">B</span>ài dịch</div>
                        <div class="view_bd">
                            {&obj.translate}
                        </div>
                    </div>
                    <div>
                        {$obj.contents}
                    </div>
                </div>
            </div>
            <div class="thuvien">
                <div class="title_item_small"><i class="icon_small"></i><span class="orange">B</span>ài học liên quan</div>
                <div class="content_item bailienquan">
                    <ul>
                        {loop="ref"}
                        {$link=makelink::makethuvien($value._id,$value.name)}
                        <li>
                            <a href="{$link}">
                                <span class="thumb_img"><img src="{$value.avatar}" alt="">
                                    <span class="thumb_caption">
                                        <span class="title_list">{$value.name}</span>
                                        <i class="icon_video"></i>
                                    </span>
                                </span>
                            </a>
                        </li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $( "#show" ).click(function() {
            $('.show_goiy').toggle();
        });
        $( "#show1" ).click(function() {
            $('.show_goiy1').toggle();
        });

        $('.Loa').click(function(e){
            var src = $(this).attr('alt');
            $('#mainaudio').attr('src',src);
            $('#mainaudio')[0].play();
        })
    });
</script>