<div class="main">
    <div class="content_cate p5">
        <div class="item_cate">
            <div class="center hello">Xin chào, {$SESSION.uinfo.displayname}</div>
            <div class="content_items taikhoan">
                <a href="service.php" class="ht">Đăng ký gói cước</a>
                <a href="setup.php" class="ht">Cài đặt riêng tư</a>
                <a href="saveexam.php" class="ht">Bài học đã lưu</a>
                <a href="yourfaq.php" class="ht">Câu hỏi của bạn</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>