<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Bài học đã lưu</div>
        </div>
    </div>
    <div class="content_cate h5">
        <div class="account_page block">
            {loop="exam"}
            <div class="list_bhdl">
                <div class="item_1 liquid_layout liquid_layout_90 block">
                    <div class="liquid_2">
                        <div class="liquid_2_content">
                            <div class="item_1_header">
                                <span class="item_1_date date">20:06 | 10.01.2016</span>
                                <span class="trash"><button class="btn_trash"><i class="fa fa-fw"></i></button></span>
                            </div>
                            <div class="item_1_title">
                                <h2><a href="gtcb.php?id={$value.id}">{$value.name}</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="liquid_1">
                        <a href="" class="mask_img"><img src="{$value.avatar}"></a>
                    </div>
                </div>
            </div>
            {/loop}
            <div class="page pagination-centered">
                {include="component/paging"}
            </div>
        </div>
    </div>
</div>