<div class="main">
    <div class="content_cate p5">
        <div class="item_cate">
            <div class="title_cate">
                <a href=""><i class="icon-noitieng"></i>Quên mật khẩu</a>
                <span class="btn_more_cate"><label></label><label></label><label></label></span>
            </div>
            <div class="content_item content_item_fix">
            </div>
            <div class="content_items">
                <div class="content_item dangky_view">
                    <p class="text_center">
                        <strong>Vui lòng nhập Số điện thoại của Quý khách.Hệ thống sẽ gửi Mật khẩu về điện thoại của Quý khách trong giây lát.</strong>
                    </p>
                    <form action="" method="post">
                        <div class="item_cate fleft w100">
                            <div class="content_dangky">
                                <input type="text" class="input1" name="phone" placeholder="Số điện thoại" id="Phone">
                                <div class="message_customer center"></div>
                                <div class="center mgt15">
                                    <button class="ht" type="button" onclick="sendConfirmKey()">OK</button>
                                </div>
                                <div class="center mgt15">
                                    <a href="register.php">Nếu chưa có tài khoản, vui lòng đăng ký tại đây</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    function sendConfirmKey() {
        var formData = {
            act: 'sendconfirmkey',
            phone: $("#Phone").val()
        }
        $.post("incoming.php", formData, function(res) {
            if (res.status == 200) {
                $(".message_customer").html('<font style="color: green">' + res.mss + '</font>');
            } else {
                $(".message_customer").html('<font style="color: red">' + res.mss + '</font>');
            }
        });
    }

</script>