<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Đổi mật khẩu</div>
        </div>
    </div>
    <div class="alert {$alert.class}">
        <!--<p>{$alert.mss}</p>-->
    </div>
    <div class="content_cate p5">
        <form action="" method="post">
            <div class="item_cate fleft w100">
                <div class="content_dangky">
                    <span class="error-notify center"></span>
                    <input autofocus type="password" class="input1" name="current_pass" placeholder="Mật khẩu cũ" id="CurrentPassword">
                    <input type="password" class="input1" name="newpassword" placeholder="Mật khẩu mới" id="NewPassword">
                    <input type="password" class="input1" name="renewpassword" placeholder="Nhập lại mật khẩu" id="ReNewPassword">
                    <div class="center mgt10">
                        <a class="btn_df btn_a" href="javascript:void(0)" onclick="changePassword()">OK</a>
                        <!--<p class="p_button center"><button type="submit" onclick="changePassword()" class="btn_df btn_a">Lưu thay đổi</button></p>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
        <script>
            function changePassword() {
                var formData = {
                    current_pass: $("#CurrentPassword").val(),
                    newpassword: $("#NewPassword").val(),
                    renewpassword: $("#ReNewPassword").val()
                }
                $.post("incoming.php?act=confirmnewpass", formData, function(res) {
                    if (res.status == 200) {
                        alert('Mật khẩu được đổi thành công');
                        window.location.href = "/index.php";
                    } else {
                        alert(res.mss);
                    }
                });
            }
        </script>