<div class="main">
    <div class="content_cate p5">
        <div class="item_cate">
            {if condition="$type==''"}
            <div class="center hello">Hãy chọn hình thức nạp {function="Constant::CASH_NAME"}</div>
            <div class="content_items taikhoan">
                <a href="charge.php?type=card" class="ht">Nạp thẻ điện thoại</a>
                <a href="charge.php?type=bank" class="ht">Nạp từ ngân hàng</a>
                <a href="charge.php?type=sms" class="ht">Nạp SMS PLUS</a>
                <a href="charge.php?type=api" class="ht">Nạp OTP API</a>
            </div>
            <div class="clearfix"></div>
            {elseif condition="$type=='card'"}
            <div class="title_cate">
                <a href="/charge.php">NẠP THẺ ĐIỆN THOẠI</a>
            </div>
            <div class="content_items">
                <p>Bạn hiện có <b style="color: #f4333c" class="check_cash">0 Ecoin</b></p>
                <form action="">
                    <div class="ttcn_info block">
                        <span class="error-notify red center"></span>
                        <p>
                            <span>Loại thẻ</span>
                            <select name="card_type" id="sltCardType" class="input1">
                            {loop="card_type"}
                                <option value="{$key}">{$value}</option>
                            {/loop}
                            </select>
                        </p>
                        <p>
                            <span>Mã thẻ</span>
                            <input type="text" class="input1" name="pin" id="txtPin">
                        </p>
                        <p>
                            <span>Số Seri</span>
                            <input type="text" class="input1" name="seri" id="txtSeri">
                        </p>
                        <p class="p_button center">
                            <button type="button" onclick="chargeCard()" class="btn_df btn_a" id="btnChargeCard">Nạp thẻ</button>
                        </p>
                    </div>
                </form>
            </div>
            <script>
                function chargeCard() {
                    $('#btnChargeCard').hide();
                    card_type = $('#sltCardType').val();
                    pin = $('#txtPin').val();
                    seri = $('#txtSeri').val();
                    $.post('/incoming.php?act=charge_card', {
                        card_type:card_type, pin:pin, seri:seri
                    }, function (re) {
                        if(re.success){
                            $('.error-notify').html(re.mss)
                        }
                        else{
                            $('.error-notify').html(re.mss)
                        }
                        checkCash();
                        $('#btnChargeCard').show();
                    })
                }
            </script>
            {elseif condition="$type=='bank'"}
            <div class="title_cate">
                <a href="/charge.php">NẠP TIỀN TỪ NGÂN HÀNG</a>
            </div>
            <div class="content_items">
                <p>Bạn hiện có <b style="color: #f4333c" class="check_cash">0 Ecoin</b></p>
                <form action="">
                    <div class="ttcn_info block">
                        <span class="error-notify red center"></span>
                        <p>
                            <span>Số tiền nạp (ít nhất 10.000đ)</span>
                            <input type="number" class="input1" name="amount" id="txtAmount">
                        </p>
                        <p class="p_button center">
                            <button type="button" onclick="chargeBank()" class="btn_df btn_a" id="btnChargeBank">Thanh toán</button>
                        </p>
                    </div>
                </form>
            </div>
            <script>
                function chargeBank() {
                    $('#btnChargeBank').hide();
                    amount = $('#txtAmount').val();
                    $.post('/incoming.php?act=charge_bank', {
                        amount: amount
                    }, function (re) {
                        if(re.success){
                            window.location.href = re.payUrl
                        }else{
                            $('.error-notify').html(re.mss)
                        }
                        $('#btnChargeBank').show();
                    })

                }
            </script>
            {elseif condition="$type=='sms'"}
            <div class="title_cate">
                <a href="/charge.php">NẠP TIỀN SMS PLUS</a>
            </div>
            <div class="content_items">
                <p>Bạn hiện có <b style="color: #f4333c" class="check_cash">0 Ecoin</b></p>
                <form action="">
                    <div class="ttcn_info block">
                        <span class="error-notify red center">Tính năng đang xây dựng</span>
                    </div>
                </form>
            </div>
            {elseif condition="$type=='api'"}
            <div class="title_cate">
                <a href="/charge.php">NẠP API OTP</a>
            </div>
            <div class="content_items">
                <p>Bạn hiện có <b style="color: #f4333c" class="check_cash">0 Ecoin</b></p>
                <form action="">
                    <div class="ttcn_info block">
                        <span class="error-notify red center">Tính năng đang xây dựng</span>
                    </div>
                </form>
            </div>
            {/if}
        </div>
    </div>
</div>

