<script src="/assets/js/clipboard.min.js"></script>
<div class="main">
    <div class="content_cate p5">
        <div class="item_cate">
            <div class="title_cate">
                <a href="/charge.php">NẠP QUA TIN NHẮN SMS</a>
            </div>
            <!--<div class="content_items taikhoan" id="selectProvider">-->
                <!--<p style="text-align: center; margin-bottom: 10px">-->
                    <!--Vui lòng chọn nhà mạng-->
                <!--</p>-->
                <!--<a href="javascript:showProvider('VTE')" class="ht">-->
                    <!--<h3>Viettel</h3>-->
                <!--</a>-->
                <!--<a href="javascript:showProvider('VMS')" class="ht" style="">-->
                    <!--<h3>MobiFone</h3>-->
                <!--</a>-->
                <!--<a href="javascript:showProvider('VNP')" class="ht" style="">-->
                    <!--<h3>Vinaphone</h3>-->
                <!--</a>-->
            <!--</div>-->
            <div class="clearfix"></div>
            <div class="content_items">
                <div id="VTE">
                    <div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">
                        <p style="font-style: italic">Quý khách vui lòng soạn tin theo cú pháp:</p>
                        <h3><strong id="moVTE">{$mo.VTE}</strong></h3>
                        <p>Gửi tới <strong>9029</strong></p>
                    </div>
                </div>
                <!--<div style="display: none;" id="VMS" style="display: none;">-->
                    <!--<div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">-->
                        <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VMS)"}">ĐÂY</a></strong> và gửi tin nhắn</p>-->
                        <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VMS}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                        <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp:</p>-->
                        <!--<h3><strong id="moVMS">{$mo.VMS}</strong></h3>-->
                        <!--<p>Gửi tới <strong>9029</strong></p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div style="display: none;" id="VNP" style="display: none;">-->
                    <!--<div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">-->
                        <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VNP)"}">ĐÂY</a></strong> và gửi tin nhắn</p>-->
                        <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VNP}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                        <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp:</p>-->
                        <!--<h3><strong id="moVNP">{$mo.VNP}</strong></h3>-->
                        <!--<p>Gửi tới <strong>9029</strong></p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="four_function">-->
                    <!--<div class="item_four_function">-->
                        <!--<a class="showTab" data-target="#VTE">Viettel</a>-->
                        <!--<a class="showTab" data-target="#VMS">Mobifone</a>-->
                        <!--<a class="showTab" data-target="#VNP">Vinaphone</a>-->
                        <!--<div class="all_ct_display">-->
                            <!--<div class="tabItem" id="VTE" style="display: none;">-->
                                <!--<div class="center" style="padding: 10px 0">-->
                                    <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VTE)"}">ĐÂY</a></strong> và gửi tin nhắn</p>-->
                                    <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VTE}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                                    <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp:</p>-->
                                    <!--<p><strong id="moVTE">{$mo.VTE}</strong> gửi <strong>9029</strong></p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="tabItem" style="display: none;" id="VMS" style="display: none;">-->
                                <!--<div class="center" style="padding: 10px 0">-->
                                    <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VMS)"}">ĐÂY</a></strong> và gửi tin nhắn</p>-->
                                    <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VMS}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                                    <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp:</p>-->
                                    <!--<p><strong id="moVMS">{$mo.VMS}</strong> gửi <strong>9029</strong></p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="tabItem" style="display: none;" id="VNP" style="display: none;">-->
                                <!--<div class="center" style="padding: 10px 0">-->
                                    <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VNP)"}">ĐÂY</a></strong> và gửi tin nhắn</p>-->
                                    <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VNP}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                                    <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp:</p>-->
                                    <!--<p><strong id="moVNP">{$mo.VNP}</strong> gửi <strong>9029</strong></p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">-->
                    <!--<h3>Đối với thuê bao Viettel</h3>-->
                    <!--<p>Quý khách vui lòng nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VTE)"}">ĐÂY</a></strong></p>-->
                    <!--<p>Hoặc <button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VTE}"><i class="fa fa-files-o"></i> Copy cú pháp</button></p>-->
                    <!--<p style="font-style: italic">Nếu không được vui lòng soạn tin theo cú pháp</p>-->
                    <!--<p><strong id="moVTE">{$mo.VTE}</strong> gửi <strong>9029</strong></p>-->
                    <!--&lt;!&ndash;<p style="font-style: italic">Hoặc nhấn vào <strong><a style="color: blue; text-decoration: underline" href="{function="getSmsLink(9029,$mo.VTE)"}">ĐÂY</a></strong> nếu dùng điện thoại Android</p>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">-->
                    <!--<h3>Đối với thuê bao Mobifone</h3>-->
                    <!--<p>Quý khách vui lòng soạn tin theo cú pháp</p>-->
                    <!--<p><strong>{$mo.VMS}</strong> gửi <strong>9029</strong></p>-->
                    <!--<button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VMS}"><i class="fa fa-files-o"></i> Copy cú pháp</button>-->
                    <!--<p style="font-style: italic">Hoặc nhấn vào <strong><a style="color: blue; text-decoration: underline" href="sms:9029?body={$mo.VMS}">ĐÂY</a></strong> nếu dùng điện thoại Android</p>-->
                <!--</div>-->
                <!--<div class="center" style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px 0">-->
                    <!--<h3>Đối với thuê bao Vinaphone</h3>-->
                    <!--<p>Quý khách vui lòng soạn tin theo cú pháp</p>-->
                    <!--<p><strong>{$mo.VNP}</strong> gửi <strong>9029</strong></p>-->
                    <!--<button type="button" class="btn-clb btn_blue" data-clipboard-text="{$mo.VNP}"><i class="fa fa-files-o"></i> Copy cú pháp</button>-->
                    <!--<p style="font-style: italic">Hoặc nhấn vào <strong><a style="color: blue; text-decoration: underline" href="sms:9029?body={$mo.VNP}">ĐÂY</a></strong> nếu dùng điện thoại Android</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script>
    function showProvider(provider) {
        $('#selectProvider').hide();
        $('#'+provider).show();
    }

    var clipboard = new Clipboard('.btn-clb');
    clipboard.on('success', function(e) {
        alert('Đã copy, vui lòng paste nội dung vào Tin nhắn SMS và gửi tới 9029');
        window.location.href = 'sms:9029'
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });

</script>

