<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Cài đặt riêng tư</div>
        </div>
    </div>
    <div class="content_cate h5">
        <form action="" method="post" enctype="multipart/form-data" id="upload_form">
            <input type="hidden" name="{$csrf_name}" value="{$csrf_value}">
            <div class="account_page block">
                <span class="red alert {$alert.class} center">{$alert.mss}</span>
                <h2 class="title_1">Thông tin cá nhân</h2>
                <div class="avatar_manage block mgb10 liquid_layout liquid_layout_90">
                    <div class="change_avatar liquid_2">
                        <div class="liquid_2_content">
                            <a class="btn_change_avatar block mgb5">Thay đổi Avatar</a>
                            <div class="form_change_avatar block">
                                <input type="file" id="file_upload" name="file_upload" class="mgb5" >
                                <!--<button onclick="selectFile()" class="p_link">Cập nhật</button>-->
                                <p class="p_button center"><button type="submit" class="btn_df btn_a">Cập nhật</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="avatar_present liquid_1">
                        <div class="avatar_mask">
                            <img src="{$uinfo.priavatar}" id="cover_avatar_preview"/>
                        </div>
                    </div>
                </div>
                <div class="ttcn_info block">
                    <p>
                        <span>Họ tên</span>
                        <input type="text" class="input1" name="fullname" value="{$uinfo.fullname}">
                    </p>
                    <p>
                        <span>Ngày sinh</span>
                        <input type="date" class="input1" name="birthday" value="{$uinfo.birthday}">
                    </p>
                    <!--<p>-->
                        <!--<span>Email</span>-->
                        <!--<input type="text" class="input1" name="email" value="{$uinfo.email}">-->
                    <!--</p>-->
                    <p>
                        <span>Số CMND</span>
                        <input type="text" class="input1" name="cmnd" value="{$uinfo.cmnd}">
                    </p>
                    <p>
                        <span>Ngày cấp</span>
                        <input type="date" class="input1" name="cmnd_ngaycap" id ="datepicker" value="{$uinfo.cmnd_ngaycap}">
                    </p>
                    <p>
                        <span>Nơi cấp</span>
                        <input type="text" class="input1" name="cmnd_noicap" value="{$uinfo.cmnd_noicap}">
                    </p>
                    <p>
                        <span>Tên hiển thị</span>
                        <input type="text" class="input1" name="displayname" value="{$uinfo.displayname}">
                    </p>
                </div>
                {if condition="$uinfo.fbid==null"}
                <a href="changepassword.php"><h2 class="title_1 mgt15">Đổi mật khẩu</h2></a>
                {/if}

                <!--<div class="change_password block">-->
                <!--<p><input type="password" placeholder="Mật khẩu cũ" name="oldpassword" class="input1" value="{$uinfo.password}"></p>-->
                <!--<p><input type="password" placeholder="Mật khẩu mới" name="password" class="input1"></p>-->
                <!--<p><input type="password" placeholder="Nhập lại mật khẩu mới" name="repassword" class="input1"></p>-->
                <!--</div>-->
                <h2 class="title_1 mgt15">Cài đặt thông báo</h2>
                <div class="notification_setting block">
                    <p><input type="checkbox" value="1" name="chkNoti" {if condition="isset($uinfo.thong_bao.noti) && $uinfo.thong_bao.noti == 1"} checked {/if}>Nhận thông báo từ English360</p>
                    <!--<p><input type="checkbox" value="1" name="chkSms" {if condition="isset($uinfo.thong_bao.sms) && $uinfo.thong_bao.sms == 1"} checked {/if}>Nhận SMS hàng ngày</p>-->
                    <p><input type="checkbox" value="1" name="chkEmail" {if condition="isset($uinfo.thong_bao.email) && $uinfo.thong_bao.email == 1"} checked {/if}>Nhận thông báo qua E-mail</p>
                </div>
                <p class="p_button center"><button type="submit"  class="btn_df btn_a">Lưu thay đổi</button></p>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#upload_form").submit( function(submitEvent) {

            // get the file name, possibly with path (depends on browser)
            var filename = $("#file_upload").val();
            if(filename != ''){
                // Use a regular expression to trim everything before final dot
                var extension = filename.replace(/^.*\./, '');

                // Iff there is no dot anywhere in filename, we would have extension == filename,
                // so we account for this possibility now
                if (extension == filename) {
                    extension = '';
                } else {
                    // if there is an extension, we convert to lower case
                    // (N.B. this conversion will not effect the value of the extension
                    // on the file upload.)
                    extension = extension.toLowerCase();
                }

                switch (extension) {
                    case 'jpg':
                    case 'png':
                    case 'gif':
                        // uncomment the next line to allow the form to submitted in this case:
                        break;

                    default:
                        // Cancel the form submission
                        alert("Bạn chỉ được phép upload tệp ảnh (jpg, png, gif).");
                        submitEvent.preventDefault();
                }
            }
        });
    })
    function selectFile(){
        document.getElementById("file_upload").click();
    }

    $("#file_upload").change(function () {
        var oFReader = new FileReader();
        var image = new Image();
        var isAllowSize = false;
        oFReader.readAsDataURL(this.files[0]);
        oFReader.onload = function (oFREvent) {
            image.src = oFREvent.target.result;
            image.onload = function () {
                $("#cover_avatar_preview").attr('src', oFREvent.target.result).fadeIn();
            }
        }
    });

</script>