<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Đăng ký gói cước</div>
        </div>
    </div>
    <div class="content_cate h5">
        <div class="account_page block">
            {if condition="$error_mss"}
            <p style="color: red">{$error_mss}</p>
            {/if}
            {if condition="$success_mss"}
            <p style="color: green">{$success_mss}</p>
            {/if}
            <p class="p_button center"><a class="ht_1" href="/">Về trang chủ</a></p>
        </div>
    </div>


</div>
