    <div class="content_cate p5">
        <div class="item_cate">
            <div class="title_cate">
                <a href=""><i class="icon-noitieng"></i>Giao tiếp cơ bản</a>
                <span class="btn_more_cate"><label></label><label></label><label></label></span>

            </div>
            <div class="content_item">
                <div class="dentail_channel">
                    <h3 class="title_style_1"><a href="">Jenifer Lopez - Bản giao hưởng Latinh quyến rũ</a></h3>
                    <div class="date_view"><label> 22/11/2015 11:10</label></div>
                    <div class="clearfix"></div>
                    <div class="baitap" id="bt-dienchu">
                        <div class="title_bt">{$obj.name}</div>
                        <div class="view_bt dientu">
                            {loop="obj.question"}
                            <div class="c" data-aw="{$value.aw}">
                                <b class="stt">{$key+1}</b><span class="has-answer">{$value.short} </span><i class="icon_audio_orange"></i>
                            </div>
                            {/loop}
                        </div>
                        <div class="center"><button class="ht hoanthanh" onclick="dienchuResult()">Hoàn thành</button></div>
                    <div class="center"><button class="ht baitiep" onclick="toNext()" type="button" style="display: none">Bài tiếp</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="item_cate">
            <!-- Tabs -->
            <div id="tabsholder">
                <ul class="tabs tabs-style">
                    <li id="tab1">Bài học liên quan</li>
                    <li id="tab2">Bài học mới nhất</li>
                </ul>
                <div class="contents marginbot">
                    <div id="content1" class="tabscontent">
                        <ul class="list_1">
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb1.png"></span> <span class="title_list">1 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb2.png"></span> <span class="title_list">2 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb3.png"></span> <span class="title_list">3 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb4.png"></span> <span class="title_list">4 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb1.png"></span> <span class="title_list">1 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                        </ul>
                    </div>
                    <div id="content2" class="tabscontent">
                        <ul class="list_1">
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb1.png"></span> <span class="title_list">1 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb2.png"></span> <span class="title_list">2 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                            <li> <a href=""> <span class="thumb_img"><img alt="" src="images/data_thumb3.png"></span> <span class="title_list">3 ngày học tiếng anh miễn phí với Mr Tom</span> <span class="caption_view"> 22/11/2015 11:10</span> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Tabs -->
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    function dienchuResult(){

        $('.baitap .c').each(function(){
            var kq = $(this).attr("data-aw");
            var ans = '';

            $(this).find('.has-answer input').each(function(){
                $(this).after('<b>'+$(this).val()+'</b>');
                $(this).remove();
            });
            var ans = strip($(this).find('span.has-answer').html()).trim();

            console.log(ans);
            if(kq.toLowerCase() == ans.toLowerCase()){
                htmlx = '<span class="kq_t"></span>';
            }else{
                htmlx = '<span class="kq_f"></span><span class="t">'+kq+'</span>';
            }
            $(this).append(htmlx);
        });
        $('#bt-dienchu .hoanthanh').hide();
        $('#bt-dienchu .baitiep').show();

    }
    function strip(html)
    {
        var tmp = document.createElement("DIV");
        tmp.innerHTML = html;
        return tmp.textContent || tmp.innerText || "";
    }
    function toNext(){
        window.location.href="lna_bt2.php?id={$obj._id}&type=lna_xemtranh";
    }


</script>
