<div class="main">
<div class="content_cate p5">
    <div class="item_cate">
        <div class="title_cate">
            <a href="/nguphap.php"><i class="icon-noitieng"></i>Ngữ pháp</a>
            <span class="btn_more_cate"><label></label><label></label><label></label></span>
        </div>
    <div class="content_item">
        <div class="dentail_chanel">
            <h3 class="title_style_1">
                {$link=makelink::makenp($obj._id,$obj.name)}
                <a href="{$link}">{$obj.name}</a>
            </h3>
            <div class="date_view"><label>{$obj.date}</label></div>
            <div class="clearfix"></div>
            {if condition="$chontu"}
            <div class="baitap" id="bt-dientu">
                <div class="title_bt">{$chontu.name}</div>
                <div class="view_bt">
                    {loop="$chontu.question"}
                    <div class="c" data-aw="{$value.aw}">
                        <b class="stt">{$key+1}</b>
                        <span class="has-answer">
                            {function="str_replace('_','<input class="dt tocheck" data-aw="'.$value.word.'" data-full="'.$value.word.'" type="text">',$value.sentence)"}
                        </span>
                        <img class="Loa" src="../resource/images/icon_audio.png" alt="{$value.audio}">
                    </div>
                    {/loop}
                </div>
                <div class="center"><button class="ht hoanthanh" onclick="completeDienchu()">Hoàn thành</button></div>
                <div class="center"><button class="ht baitiep" onclick="toNext()" type="button" style="display: none">Bài tiếp</button>
                </div>
            </div>
            {/if}
        </div>
        </div>
    </div>
    </div>
</div>

<script>
    var baitapIndex = 0;
    $(function(){
        var a = $('#bt-dientu img.InputQuestion');
        var dientuArr = [];
        $.each(a, function (i) {
            var kq = $(this).attr('alt');
            dientuArr[dientuArr.length] = kq;
            $(this).before('<span class="stt">' + (i + 1) + '</span>');
            $(this).after('<input class="dt tocheck" data-aw="' + kq.toLowerCase() + '" data-full="' + kq + '" type="text" placeholder="Từ cần điền"></span>');
            $(this).hide();
        })
        shuffle(dientuArr);
        for(i=0; i< dientuArr.length; i++){
            $('#bt-dientu .show_ketqua').append('<span>'+dientuArr[i]+'</span>');
        }

        $('.Loa').click(function(e){
            var src = $(this).attr('alt');
            $('#mainaudio').attr('src',src);
            $('#mainaudio')[0].play();
        })

        $('#bt-dienchu input').keyup(function () {
            if($(this).val() != '')
                $(this).next('#bt-dienchu input').focus();
        })

        $('.baitap').hide();
        $('.baitap').eq(baitapIndex).show();
    })

    function toNext(){
        baitapIndex++;
        $('.baitap').hide();
        $('.baitap').eq(baitapIndex).show();
        if(!$('.baitap').eq(parseInt(baitapIndex)+1).length){
            $('.baitap').eq(baitapIndex).find('.baitiep').attr('onclick','toBegin()').html('Làm lại');
        }
        $('html,body').scrollTop(0);
    }

    function toBegin(){
        location.reload();
    }

    function completeTracnghiem(){
//        if(!validateTracnghiem()){
//            alert('Bạn chưa hoàn thành các lựa chọn.'); return false;
//        }

        $('#bt-tracnghiem .c').each(function(){
            trueaw = $(this).attr('data-aw');
            $(this).find('.kq').each(function(eq){
                index = parseInt(eq)+1;
                if(trueaw == index){
                    htmlx = '<span class="kq_t"></span>';
                    $(this).parent().append(htmlx);
                }else if($(this).is(':checked') && index != trueaw){
                    htmlx = '<span class="kq_f"></span>';
                    $(this).parent().append(htmlx);
                }
                $(this).prop('disabled', true);
            });
        })

        $('#bt-tracnghiem .hoanthanh').hide();
        $('#bt-tracnghiem .baitiep').show();
    }

    function validateTracnghiem(){
        result = true;
        $('#bt-tracnghiem .c').each(function(eq){
            result = false;
            $(this).find('input').each(function(){
                if($(this).is(':checked'))
                    result = true;
            })
        });
        return result;
    }

    function completeDienchu(){
//        if(!validateDienchu()){
//            alert('Bạn phải điền đầy đủ vào các ô trống.'); return false;
//        }

        $('#bt-dienchu .c').each(function(){
            trueans = $(this).attr('data-aw');
            yourans = '';
            $(this).find('.has-answer input').each(function(){
                $(this).after('<b>'+$(this).val().toLowerCase()+'</b>');
                $(this).remove();
            })
            yourans = strip($(this).find('span.has-answer').html()).trim();
            console.log(yourans);
            if(yourans.toLowerCase() == trueans.toLowerCase()){
                htmlx = '<span class="kq_t"></span>';
            }else{
                htmlx = '<span class="kq_f"></span><span class="t">'+trueans+'</span>';
            }
            $(this).append(htmlx);
        })

        $('#bt-dienchu .hoanthanh').hide();
        $('#bt-dienchu .baitiep').show();
    }

    function strip(html)
    {
        var tmp = document.createElement("DIV");
        tmp.innerHTML = html;
        return tmp.textContent || tmp.innerText || "";
    }

    function validateDienchu(){
        result = true;
        $('#bt-dienchu input').each(function(){
            if($(this).val() == '')
                result = false;
        })

        return result;
    }

    function completeXemtranh(){
//        if(!validateXemtranh()){
//            alert('Bạn phải điền đầy đủ vào các chỗ trống.'); return false;
//        }

        $('#bt-xemtranh input').each(function(){
            trueans = $(this).attr('data-aw').toLowerCase();
            yourans = $(this).val().toLowerCase();
            if(trueans == yourans){
                htmlx = '<span class="kq_t"></span><span class="t">'+trueans+'</span>';
            }else{
                htmlx = '<span class="kq_f"></span><span class="t">'+trueans+'</span>';
            }
            $(this).parent().after(htmlx);
            $(this).prop('disabled', true);
        })

        $('#bt-xemtranh .hoanthanh').hide();
        $('#bt-xemtranh .baitiep').show();
    }

    function validateXemtranh(){
        result = true;
        $('#bt-xemtranh input').each(function(){
            if($(this).val() == '')
                result = false;
        })

        return result;
    }

    function completePhatam(){
//        if(!validatePhatam()){
//            alert('Bạn phải điền đầy đủ vào các chỗ trống.'); return false;
//        }

        $('#bt-phatam .c input').each(function(){
            trueans = $(this).attr('data-aw').toLowerCase();
            yourans = $(this).val().toLowerCase();
            if(trueans == yourans){
                htmlx = '<span class="kq_t"></span>';
            }else{
                htmlx = '<span class="kq_f"></span><span class="t">'+trueans+'</span>';
            }
            $(this).parent().parent().append(htmlx);
            $(this).prop('disabled',true);
        })

        $('#bt-phatam .hoanthanh').hide();
        $('#bt-phatam .baitiep').show();

    }

    function validatePhatam(){
        result = true;
        $('#bt-phatam input').each(function(){
            if($(this).val() == '')
                result = false;
        })

        return result;
    }

    function completeDientu(){
//        if(!validateDientu()){
//            alert('Bạn phải điền đầy đủ vào các chỗ trống.'); return false;
//        }

        $('#bt-dientu input.tocheck').each(function () {
            ans = $(this).val().toLowerCase();
            trueans = $(this).attr('data-aw');
            if(ans == trueans){
                htmlx = '<span class="t">' + trueans + '</span><span class="kq_t"></span>';
            }else{
                htmlx = '<span class="f">' + ans + '</span><span class="kq_f"></span><span class="t">' + trueans + '</span>';
            }
            $(this).after(htmlx);
            $(this).remove()
        })
        $('#bt-dientu .hoanthanh').hide();
        $('#bt-dientu .baitiep').show();
    }

    function validateDientu(){
        result = true;
        $('#bt-dientu .content_dientu input').each(function(){
            if($(this).val() == '')
                result = false;
        })

        return result;
    }

    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }

        return array;
    }
</script>
