<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Quyên mật khẩu</div>
        </div>
    </div>
    <div class="alert {$alert.class}">
        <!--<p>{$alert.mss}</p>-->
    </div>
    <div class="content_cate p5">
        <form action="" method="post">
            <div class="item_cate fleft w100">
                <div class="content_dangky">
                    <input type="text" class="input1" name="phone" placeholder="Số điện thoại" id="Phone">
                    <input type="text" class="input1" name="confirm_key" placeholder="Nhập mã xác thực" id="ConfirmKey">
                    <!--<input type="password" class="input1" name="current_pass" placeholder="Mật khẩu cũ" id="CurrentPassword">-->
                    <input type="password" class="input1" name="newpassword" placeholder="Mật khẩu mới" id="NewPassword">
                    <input type="password" class="input1" name="renewpassword" placeholder="Nhập lại mật khẩu" id="ReNewPassword">
                    <div class="center mgt10">
                        <a class=" " href="javascript:void(0)" onclick="changePassword()">OK</a>
                    </div>
                </div>
        </form>
    </div>
</div>
</div>
        <script>
            function changePassword() {
                var formData = {
                    act: 'confirmnewpass',
                    phone: $("#Phone").val(),
                    confirm_key: $("#ConfirmKey").val(),
                    newpassword: $("#NewPassword").val(),
                    renewpassword: $("#ReNewPassword").val()
                }
                $.post("incoming.php", formData, function(res) {
                    if (res.status == 200) {
                        alert('Mật khẩu được đổi thành công');
                        window.location.href = "/";
                    } /*else {
                        $(".message_customer").html('<font style="color: red">' +res.mss+'</font>');
                    }*/
                });
            }
        </script>