<div class="main">
    <div class="p5">
        <div class="breadcrumb">
            <div class="title_br">Đăng ký</div>
        </div>
    </div>
    <div class="alert {$alert.class}">
        <p>{$alert.mss}</p>
    </div>
    <div class="content_cate p5">
        <form action="" method="post">
        <div class="item_cate fleft w100">
            <div class="content_dangky">
                <input type="text" name="email" class="input1" placeholder="Email">
                <input type="password" name="password" class="input1" placeholder="Mật khẩu">
                <input type="password" name="repassword" class="input1" placeholder="Nhập lại mật khẩu">
                <div class="center mgt10">
                    <button class="ht">Đăng ký</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>